.container {
  max-width: 800px;
  line-height: 1.5;
  font-size: 18px;
}

.faqSectionHeader {
  text-align: center;
}

.faqHeader {
  font-size: 20px;
  font-weight: bold;
  user-select: none;
  padding: 16px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.7); */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faqHeader span {
  flex-grow: 1;
}

.faqHeaderOpen {
  font-size: 20px;
  font-weight: bold;
  user-select: none;
  padding: 16px;
  border-top: 1px solid #fd6961;
  border-left: 1px solid #fd6961;
  border-right: 1px solid #fd6961;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faqHeaderOpen span {
  flex-grow: 1;
  color: rgb(249, 222, 26);
}

.faqContent {
  padding: 8px 16px;
  border: 1px solid #fd6961;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.faqContent a {
  color: #fd6961;
  margin: 0 4px;
  font-weight: bold;
}

.faqContent a:hover {
  text-decoration: underline;
}
